.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.animated-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.animated-button:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}
